{
    "extends": "react-app",
    "rules": {
      // react
      // "react/jsx-props-no-spreading": 1,
      "react/require-default-props": 1,
      "react/forbid-prop-types": 1,
      "react/destructuring-assignment": 1,
      "react/no-array-index-key": 1,
      "react/no-access-state-in-setstate": 1,
      "react/no-deprecated": 1,
      // misc
      "no-prototype-builtins": 1,
      "class-methods-use-this": 2,
      "guard-for-in": 1,
      "no-restricted-syntax": 1,
      "no-restricted-globals": 1,
      "no-shadow": 1,
      "camelcase": 1,
      "no-underscore-dangle": 0,
      "no-return-assign": 1,
      "no-multi-assign": 1,
      "prefer-const": 1,
      "no-console": [1, { "allow": ["info", "warn", "error"] }],
      "curly": 1,
      "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
      "consistent-return": 0,
      "object-shorthand": 1
    },
    "globals": {
      "waffle": "readonly"
    }
  }
  